@mixin before_circle {
  &:before {
    content: "";
    position: absolute;
    height: 36px;
    width: 36px;
    border-radius: 100%;
    background: $main-color;
    z-index: -1;
    top: -25%;
    left: 0;
  }
}
@mixin inner_grid {
  display: grid;
  grid-template-columns: 24px 200px;
  grid-template-rows: auto;
  gap: 12px;
  &__descripion {
    grid-column-start: 2;
    font-size: 12px;
  }
  &:before {
    top: -15%;
    left: -20px;
  }
}
