.about_me {
  min-height: 600px;
  padding-top: 120px;

  &__main_photo {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 4;
  }
  &__subtitle {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
    z-index: 2;
    position: relative;
    @include before_circle;
  }
  &__title {
    grid-column-start: 3;
    grid-column-end: 7;
    grid-row-start: 2;
    grid-row-end: 3;
  }
  &__description {
    grid-column-start: 3;
    grid-column-end: 6;
    grid-row-start: 4;
    grid-row-end: 5;
    font-size: 14px;
    line-height: 21px;
    text-align: left;
  }
  &__web_development {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 6;
    grid-row-end: 7;
    position: relative;
    @include before_circle;
    @include inner_grid;
  }
  &__mobile {
    grid-column-start: 5;
    grid-column-end: 6;
    grid-row-start: 6;
    grid-row-end: 7;
    position: relative;
    @include before_circle;
    @include inner_grid;
  }
  &__design {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 8;
    grid-row-end: 9;
    position: relative;
    @include before_circle;
    @include inner_grid;
  }
  .container {
    display: grid;
    grid-template-columns: 34fr 6.5fr 24fr 4.66fr 24fr;
    grid-template-rows: 36px 60px 24px 123px 40px 136px 20px 136px 70px;
    grid-auto-flow: row;
  }
  .row {
    display: block;
    width: 60px;
    height: 0;
    border: 3px solid rgba(255, 165, 1, 1);
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 3;
  }
}
